/* horizontale quicklinks auf der startseite */
.startlink {
    float: left;
    margin-right: 50px;
    border: 1px solid blue;
    padding: 3px;
}

/* den flow clearen */
#DivForclearflow {
    clear: both;
}

/* Centering tables */
.mi {
    display: flex;
    justify-content: center;
    /* margin: 0px auto; hat hier nicht funktoniert! */
}