#name01
  input:required { background-color: #c8ffc8; }
  input:invalid { background-color: #ffc8c8; }
#plz
  input:valid { background-color: #c8ffc8; }
  input:invalid { background-color: #ffc8c8; }
#liste
 a { text-decoration: none; }
 a:link { text-decoration: none; }
 ul { list-style: none }