<!DOCTYPE html>
<html lang=de>
<head>
	<title>CSS</title>
	<meta charset=utf-8>
	<style>
   .pos    {background-color:#B2B2B2;}
	#einzel {font-family: Impact, Charcoal, sans-serif;}
	#einzel {color: #444343;}
    body {}
	h1 { color: blue; }
    h2 { color: lightgreen; }
    h3 { color: cyan; }
    h4 { color: fuchsia; } 
  </style>
</head>

<body>
</body>

</html>