h1 {
  color: #22c1c3;
}

h2 {
  color: #77e986;
}

h3 {
  color: #58ffc7;
}

h4 {
  color: #fdbb2d;
}

#impressum_paragraph {
  background-color: #202020f1;
  color: #c0c0c0;
  font-family: sans-serif;
}

.animal_description {
  font-style: italic;

  /* hier wird die Kursivschrift festgelegt */
}

.animal_description em {
  font-style: normal;
}

.animal_description b {
  /* ich weiß, das ist nicht die Aufgabe, aber ich möchte nicht, dass meine Unterschrift kursiv ist! */
  font-style: normal;
}

/*hier wird die Kursivschrift wieder aufgehoben*/

body {
  /* Ich weiß, das ist auch nicht die Aufgabe, aber lasst uns doch spaß am Website designen! ;) */
  font-family: sans-serif;
  background-color: #0000005d;
  color: #000000;
  max-width: 1300px;
  /* align text to the center */
  text-align: justify;
  margin: 0 auto;

}

body tr { 
  background-color: #1f1f1f21;
  text-align: center;
  <!-- max-width: 1000px; -->
}

html {
  /*Farbiger Hintergrund - Yeay!!! */
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}