h1 {
  color: #240750;
}

h2 {
  color: #344C64;
}

h3 {
  color: #577B8D;
}

h4 {
  color: #666666;
}

#impressum_paragraph {
  background-color: #828282;
  color: #D1D1D1;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 20px;
}

.animal_description_text {
  font-style: italic;

  /* hier wird die Kursivschrift festgelegt */
}

.animal_description_text em {
  font-style: normal;
}

.animal_description_text b {
  /* ich weiß, das ist nicht die Aufgabe, aber ich möchte nicht, dass meine Unterschrift kursiv ist! */
  font-style: normal;
}

/*hier wird die Kursivschrift wieder aufgehoben*/

body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #f2f2f2;
	color: #000000;
	/* max-width: 1300px; */
	text-align: left;
	margin-top: 40px;
	margin-right: 200px;
	margin-left: 86px;
	margin-bottom: 40px;
	padding: 40px;
	border-radius: 40px;
}



html {
  background: #324040;
}

table {
  background-color: #B2C5CF;
  text-align: center;
}

.animal_description_table {
  padding: 20px;
  border-radius: 30px;
}

.animal_description_table td {
	padding-right: 20px;	
}

/* Tabellen auf Hauptseite */
.MainPageTable, th {
	border: 1px solid black;
	border-collapse: collapse;
	padding-left: 5px;
	caption-side: bottom;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.MainPageTable td {
	border: 1px solid black;
	border-collapse: collapse;
	padding-left: 5px;
	caption-side: bottom;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.MainPageTable tr:hover {
  background-color: lightblue;
}

.MainPageTable thead {
  background-color: #6A8FA3;
  height: 30px;
}

/* Gaestebuch eingabefelder */
input[type=text]:valid {
  background-color: #c8ffc8;
}

input[type=text]:invalid {
  background-color: #ffc8c8;
}

/* Liste mit Verweisen */
#toclist {
  list-style: none;
}
#toclist a:link {
  text-decoration: none;
  color: #060404;
}
#toclist a:visited {
  color: #000000;
}

#lageplan {
	align-content: center;
	float: none;
	clear: none;
}
